<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>epfeiffer.onion</h1>
    <h2>aspiring cybersecurity engineer's professional, private blog</h2>
    <p>
      Hello! My name is Edward Pfeiffer and I am a senior at Utah State
      University studing psychology and information systems. Of my many hobbies
      I am particularly interested in politics, history, cybersecurity, and the
      internet's influence on society.
    </p>
    <p>Thanks for stopping by and I hope you enjoy your stay!</p>
    <a href="/pgp.txt">Public PGP Key</a>
    <a href="https://www.linkedin.com/in/nedpfeiffer">LinkedIn</a>
    <a href="mailto:edwardpfeiffer@protonmail.com"></a>
    <!-- need to fix the above link-->
  </body>
</html>
